# Configuration de la base de données MariaDB
DB_ROOT_PASSWORD=changeme
DB_NAME=digimenu_db
DB_USER=digimenu_user
DB_PASSWORD=changeme
DB_PORT=3306

# Ports d'accès
PMA_PORT=8080      # Port pour phpMyAdmin (http://localhost:8080)
SYMFONY_PORT=8008  # Port pour le serveur web Symfony (http://localhost:8000)
ANGULAR_PORT=4200  # Port pour le serveur de développement Angular (http://localhost:4200)

# Mercure (générer une valeur aléatoire, ex: openssl rand -base64 32)
MERCURE_JWT_SECRET=changeme

# JWT (Symfony/Lexik) (générer une valeur aléatoire, ex: openssl rand -hex 32)
JWT_PASSPHRASE=changeme
