APP_ENV=dev
APP_SECRET=changeme

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=changeme
DATABASE_URL="mysql://digimenu_user:changeme@database:3306/digimenu_db?serverVersion=mariadb-10.11.2"
###< doctrine/doctrine-bundle ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

MAILER_DSN=null://null
# Mercure
MERCURE_JWT_SECRET=changeme
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###
GOOGLE_CLIENT_ID=changeme
###> symfony/mercure-bundle ###
# See https://symfony.com/doc/current/mercure.html#configuration
# The URL of the Mercure hub, used by the app to publish updates (can be a local URL)
MERCURE_URL=http://mercure/.well-known/mercure
# The public URL of the Mercure hub, used by the browser to connect
MERCURE_PUBLIC_URL=http://localhost:3000/.well-known/mercure
###< symfony/mercure-bundle ###
